<h1>Add a new Toy</h1>

<form method="POST" action="<%= toys_path %>" >
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    
    <label id="name">Name</label>
    <input type="text" name="toy[name]" id="name" />

    <label id="description">Description</label>
    <input type="text" name="toy[description]" id="description" />

    <input type="hidden" name="toy[date]" value="2019-10-14" />

    <label id="user">User</label>
    <input type="text" name="toy[user_id]" id="user" />

    <label id="manufacturer">Manufacturer</label>
    <input type="text" name="toy[manufacturer_id]" id="manufacturer" />

    <input type="submit" value="Add toy" />
</form>

<h1>Add a new Toy the rails way</h1>
<%= form_with(model: @toy, local: true) do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :description %>
        <%= form.text_field :description %>
    </div>
    <div>
        <%= form.label :user_id %>
        <%= form.text_field :user_id %>
    </div>
    <div>
        <%= form.label :manufacturer_id %>
        <%= form.text_field :manufacturer_id %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>

<%= link_to("&larr;".html_safe, toys_path) %>