<h1><%= @toy["name"] %></h1>

<p><%= "Description: #{@toy["description"]}" %><p>
<p><%= "Date: #{@toy["date"]}" %><p>
<p><%= "User: #{@toy["user"]}" %><p>

<%= link_to("&larr;".html_safe, toys_path) %>